// Colors

// Primary //
$DarkCyan: hsl(185, 75%, 39%);
$DarkBlue: hsl(229, 23%, 23%);
$DarkGreyBlue: hsl(227, 10%, 46%);
// Neutral //
$DarkGrey: hsl(0, 0%, 59%);

// Font Size 

// Body Copy - name and stats //

$fontsize: 1.13rem;
